py7zr
jupyter
notebook
numpy
scipy
pandas
matplotlib
psutil
setuptools<65.0.0  # Versione che include ancora pkg_resources (richiesto da threeML)
-e git+https://github.com/cositools/cosipy.git@v0.3.x#egg=cosipy
astro-gdt
git+https://gitlab.com/burstcube/bc-tools.git@develop
