py7zr
jupyter
notebook
numpy
scipy
pandas
matplotlib
psutil
torch
setuptools<65.0.0  # Versione che include ancora pkg_resources (richiesto da threeML)
-e git+https://github.com/ldigesu/cosipy_lightcurves.git@ed49820f536ed5f483cd15705503f8a329c5a3e3#egg=cosipy
astro-gdt
